@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff; 
}

body {
  @apply bg-background-light text-black dark:text-white dark:bg-background-dark; 
}

@keyframes highlight {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 200%;
  }
}

.highlight-animation {
  background: linear-gradient(to right, transparent, transparent, blue);
  background-size: 200% auto;
  animation: highlight 3s linear;
  color: transparent;
}
